<div class="trend-edit">
  <div class="trend-edit__header">
    <span class="trend-edit__title">Nueva noticia</span>
    <div class="trend-actions">
      <button class="trend-action">Cancelar</button>
      <button class="trend-action trend-action--primary">Guardar</button>
    </div>
  </div>
  <div class="trend-edit__content">
    <div class="form-field">
      <span class="form-field__title">URL</span>
      <div class="form-field__box">
        <input type="text" value="https://elpais.com/actualidad/1580360187_316344.html">
      </div>
    </div>
    <div class="form-field">
      <span class="form-field__title">Autor</span>
      <div class="form-field__box">
        <input type="text" value="Manuel Gómez">
      </div>
    </div>
    <div class="form-field">
      <span class="form-field__title">Titulo</span>
      <div class="form-field__box">
        <input type="text" value="Manuel Rodríguez">
      </div>
    </div>
    <div class="form-field">
      <span class="form-field__title">Contenido</span>
      <div class="form-field__box">
        <input type="text" placeholder="Escribe aquí ...">
      </div>
    </div>
  </div>
</div>
